@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

.navbar-brand {
  font-family: "Ropa Sans", sans-serif;
  font-size: 25px;
  background-color: red;
  padding: 0px 15px;
}
.navbar-dark {
  background-color: black !important;
}
.nav-item {
  font-family: "Ropa Sans", sans-serif;
}

.searchmov {
  font-family: "Ropa Sans", sans-serif;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
